<div mat-dialog-close class="close-container">
    <img src="assets/icons/cross.svg" alt="">
</div>

<div class="dialog-container">
    <h2 mat-dialog-title>Password Forgot</h2>
    <p class="info">A link to change your password will be send to the email address associate to your Worldhelpers account</p>
    <mat-dialog-content>
        <form (ngSubmit)="passwordForgot()" [formGroup]="passwordForgotForm">
            <!-- Email -->
            <input type="email" formControlName="email" placeholder="Email">
            <!-- Submit -->
            <button
            type="submit"
            class="btn btn-success-solid"
            [class.btn-success-disabled]="passwordForgotForm.invalid || submitted"
            [disabled]="passwordForgotForm.invalid || submitted">
                <div *ngIf="!submitted">Send me the fabulous link</div>
                <div *ngIf="submitted" class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </button>
        </form>
    </mat-dialog-content>
</div>