<div class="experience-card">
    <h4 class="experience-title">{{ experience.title }}</h4>
    <span class="experience-property-type">{{ experience.property.type }}</span>
    <span class="experience-location">{{ experience.property.city }}, {{ experience.property.country }}</span>
    <div class="expericence-chips">
        <span>{{ experience.min_weeks }}-{{ experience.max_weeks }} weeks stay</span>
        <span>{{experience.volunteer_hours}} {experience.volunteer_hours, plural, =1 {hour} other {hours}} volunteer a day</span>
        <span>{{ experience.days_off }} {experience.days_off, plural, =1 {day} other {days}} off per week</span>
        <span>{{ experience.accomodation_type }}</span>
        <span>Up to {{ experience.number_volunteers }} {experience.number_volunteers, plural, =1 {helper} other {helpers}}</span>
    </div>
    <div>
        <span>{{ experience.rating }}</span>
        <span>{{ experience.number_comments }} {experience.number_comments, plural, =1 {comment} other {comments}}</span>
    </div>
</div>