<div class="experience-card box-shadow">
    <div class="experience-cover" 
    [style.background]="getBackgroundImageUrl()">
    </div>
    <div class="experience-info">
        <h4 class="experience-title">{{ experience.title }}</h4>
        <div class="experience-type-and-location">
            <div class="experience-property-type">
                {{ experience.property.type }}
            </div>
            <div class="experience-location">
                {{ experience.property.country }}
            </div>
        </div>
        <p class="expericence-chips">
            {{ experience.min_weeks }}-{{ experience.max_weeks }} weeks stay 
            &#8226; {{experience.volunteer_hours}} {experience.volunteer_hours, plural, =1 {hour} other {hours}} volunteer a day 
            &#8226; {{ experience.days_off }} {experience.days_off, plural, =1 {day} other {days}} off per week 
            &#8226; {{ experience.accomodation_type }} 
            &#8226; Up to {{ experience.number_volunteers }} {experience.number_volunteers, plural, =1 {helper} other {helpers}}
        </p>
        <div class="experience-review">
            <div>
                <img src="assets/icons/star.svg" alt="">
            </div>
            <div *ngIf="experience.average_ratings != null; else noRatings">
                {{ experience.average_ratings }} | {{ experience.number_comments }} {experience.number_comments, plural, =0 {comment} =1 {comment} other {comments}}
            </div>
            <ng-template #noRatings>No rating</ng-template>
        </div>
    </div>
    <div class="experience-favorite">
        <figure><img src="assets/icons/heart-outline.svg" alt=""></figure>
    </div>
</div>