<main>
    <div class="background-image">
        <div class="background-opacity">
            <div class="container-without-page-title">
                <div class="wrapper">
                    <div class="content">
                        <h1>Who are you ?</h1>
                        <p>You need to be logged in order to go further.</p>
                        <div class="buttons">
                            <div (click)="openDialogLogin()" class="btn btn-primary-solid">Login</div>
                            <a class="btn btn-primary-outline" routerLink="/become-a-helper">Register as a helper</a>
                            <a class="btn btn-primary-outline" routerLink="/become-a-host">Register as a host</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>