<div mat-dialog-close class="close-container">
    <img src="assets/icons/cross.svg" alt="">
</div>

<div class="dialog-container">
    <h2 mat-dialog-title>
        <div class="text">Welcome back</div>
        <div class="emoji">🐼</div>
    </h2>
    <mat-dialog-content>
        <form (ngSubmit)="login()" [formGroup]="loginForm">
            <!-- Email -->
            <input type="email" formControlName="email" placeholder="Email">
            <!-- Password -->
            <input type="password" formControlName="password" placeholder="Password">
            <!-- Submit -->
            <button
            type="submit"
            class="btn btn-success-solid"
            [class.btn-success-disabled]="loginForm.invalid || submitted"
            [disabled]="loginForm.invalid || submitted">
                <div *ngIf="!submitted">Login</div>
                <div *ngIf="submitted" class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </button>
            <div class="password-forgot" (click)="openDialogPasswordForgot()">Password forgot ?</div>
        </form>
        <div class="register">
            No account ? <span (click)="openDialogSignupAsHelper()">Register as a helper</span>
        </div>
    </mat-dialog-content>
</div>