@import '../../../../sass/_variables';


form {
    .password-forgot {
        margin-top: 10px;
        font-size: 0.9rem;
    }
}
.register {
    font-size: 0.9rem;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid $neutral;
}
