<main>
    <div class="page-title">
        <h1 class="wrapper">Add an experience</h1>
    </div>
    <div class="breadcrumb">
        <div class="wrapper"><a routerLink="/account/host">Dashboard</a><span>></span>Add an experience</div>
    </div>
    <div class="container-with-page-title">
        <div class="wrapper">

            <div class="add-experience-form-container">
                <app-add-experience-form></app-add-experience-form>
            </div>
              
        </div>
    </div>
</main>