@import '../../../../sass/_variables';


form {
    margin: 15px 0;
    .option {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10px;
        label {
            line-height: 1.4rem;
        }
        input {
            margin-top: 2px;
        }
    }
    .textarea-container {
        margin: 25px 0 15px 0;
        label {
            font-weight: 400;
            span {
                font-weight: 300;
                font-size: 0.9rem;
                color: $neutral;
            }
        }
        textarea {
            margin-top: 5px;
            height: 70px;
        }
    }
}