.btn {
    display: inline-block;
    margin: 0;
    padding: 10px 18px;
    border-radius: 9999px;
    box-sizing: border-box;
    font-size: 0.9rem;
    cursor: pointer;
}

.btn-primary-solid {
    background-color: $primary;
    color: #ffffff;
    border: 1px solid $primary;
}

.btn-primary-outline {
    background-color: #ffffff;
    color: $primary;
    border: 1px solid $primary;
}

.btn-primary-light {
    background-color: $light-1;
    color: #000000;
}

.btn-success-solid {
    background-color: $success;
    color: #ffffff;
    border: 1px solid $success;
}

.link-primary {
    color: $primary;
    cursor: pointer;
}