.close-container {
    text-align: right;
    img {
        width: 20px;
        opacity: 0.6;
        cursor: pointer;
    }
}

.dialog-container {
    h2, p, form {
        padding: 0 30px;
    }
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px auto 15px auto;
        font-family: $title;
        font-size: 1.6rem;
        font-weight: 400;
        color: #000000;
        .emoji {
            margin-left: 10px;
            font-size: 2rem;
        }
    }
    .sub-title {
        margin-bottom: 15px;
        text-align: center;
        color: $dark-1;
    }    
    form {
        input {
            border: 1px solid $light-2;
        }
        button {
            width: 100%;
            font-size: 1rem;
        }
    }
}