form {
    border-radius: 10px;
    box-sizing: border-box;
    label {
      display: block;
    }
    input[type=text], input[type=email], input[type=password], select {
        display: block;
        width: 100%;
        height: 45px;
        line-height: 45px;
        margin: 10px 0;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
    }
    select {
      border: 1px solid $light-2;
      white-space: pre-wrap;
    }
    textarea {
        width: 100%;
        border: 1px solid $light-2;
        padding: 12px;
        font-weight: 300;
        box-sizing: border-box;
        border-radius: 5px;
        resize: none;
    }
}

.error {
    font-size: 0.9rem;
}

// RADIO AND CHECKBOX FULL BG-COLOR
// Source : https://codepen.io/BuddyLReno/pen/boGRPO

.input-full-color, .input-fc-square {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
    label {
        position: relative;
        display: block;
        z-index: 2;
        padding: 10px 15px;
        text-align: left;
        font-size: 1rem;
        transition: color 200ms ease-in;
        overflow: hidden;
        border: 1px solid $light-2;
        border-radius: 5px;
        cursor: pointer;
      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: $primary;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 20px;
        height: 20px;
        content: '';
        border: 1px solid $light-2;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 1px 0px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        box-sizing: border-box;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
        color: #fff;
        border-color: $primary;
      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: $primary;
        border: 5px solid #ffffff;
        box-sizing: border-box;
      }
    }

    input {
      width: 20px;
      height: 20px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }

  .input-fc-square {
    display: inline-block;
    margin: 0;
    label {
      padding: 15px 20px;
      text-align: center;
      &:after {
        width: 0px;
        height: 0px;
      }
    }

    input:checked ~ label {
      &:after {
        background-color: transparent;
        border: none;
      }
    }

  }
