.container-without-page-title, .container-with-page-title {
    margin: 0;
    padding: 60px 0 100px 0;
}

.container-without-page-title {
    min-height: calc(100vh - 490px);
    border-top: 1px solid $light-2;
}

.container-with-page-title {
    min-height: calc(100vh - 573px);
}

.wrapper {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
}