html, body { height: 100%; } // Material Angular

a {
    color: #000000;
    text-decoration: none;
}

ul, figure {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.box-shadow {
    box-shadow: 0px 2px 8px $light-2;
}

.page-title {
    background-color: $primary;
    // background: linear-gradient(90deg, $primary 20%, rgba(186,77,109,1) 90%);;
    h1 {
        padding: 25px 0;
        font-family: $title;
        font-size: 1.8rem;
        font-weight: 600;
        color: #ffffff;
    }
}

.breadcrumb {
    padding: 12px 0;
    font-size: 0.85rem;
    background-color: $light-1;
    span {
        margin: 0 10px;
    }
}

.background-opacity {
    background-color: rgba($color: #ffffff, $alpha: 0.8);
}