a {
    color: #000000;
    text-decoration: none;
}

ul, figure {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.box-shadow {
    box-shadow: 0px 2px 8px $light-2 // 7px 7px 15px $light-2;
}