// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$woh-primary: (
    50 : #e9e8f7,
    100 : #c7c5ec,
    200 : #a29edf,
    300 : #7c77d2,
    400 : #605ac9,
    500 : #443dbf, // Main
    600 : #3e37b9,
    700 : #352fb1,
    800 : #2d27a9,
    900 : #1f1a9b,
    A100 : #d3d2ff,
    A200 : #a29fff,
    A400 : #706cff,
    A700 : #5852ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$woh-accent: (
    50 : #e9f9f5,
    100 : #c8efe5,
    200 : #a3e5d4,
    300 : #7edbc3,
    400 : #62d3b6,
    500 : #46cba9, // Main
    600 : #3fc6a2,
    700 : #37be98,
    800 : #2fb88f,
    900 : #20ac7e,
    A100 : #e5fff6,
    A200 : #b3ffe5,
    A400 : #80ffd3,
    A700 : #66ffca,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$woh-warn: (
    50 : #fce5e5,
    100 : #f8bfbf,
    200 : #f39494,
    300 : #ee6969,
    400 : #eb4848,
    500 : #e72828, // Main
    600 : #e42424,
    700 : #e01e1e,
    800 : #dd1818,
    900 : #d70f0f,
    A100 : #ffffff,
    A200 : #ffd0d0,
    A400 : #ff9d9d,
    A700 : #ff8484,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$accent: mat-palette($woh-accent);
$primary: mat-palette($woh-primary);
$warn: mat-palette($woh-warn);

// Create the theme object (a Sass map containing all of the palettes).
$woh-theme: mat-light-theme($primary, $accent, $warn);

// https://material.angular.io/guide/typography
$custom-typography: mat-typography-config(
    $font-family: 'Krub',
);
