/* FONT */

$title: 'Cabin' ,Helvetica, Arial;
$text: 'Krub', sans-serif;

/* COLOR */

$primary: #443DBF;
$success: #46CBA9;
$alert: #F9B52F;
$warn: #E72828;

$primary-light: #c7c5ec;
$success-light: #a3e5d4;

$light-1: #EFEFEF;
$light-2: #D6D6D6;
$neutral: #858585;
$dark-1: #616161;
$dark-2: #3D3D3D;
