@import '../../../../sass/_variables';


form {
    .error, .error-api {
        color: $warn;
    }
    .error {
        margin-top: -5px;
    }
    .error-api {
        margin-top: 10px;
    }
    .btn {
        margin-top: 10px;
    }
    .password-forgot {
        margin-top: 15px;
        font-size: 0.9rem;
        cursor: pointer;
    }
}
.register {
    font-size: 0.9rem;
    margin: 30px 0 20px 0;
    padding-top: 15px;
    border-top: 1px solid $light-2;
    color: $dark-1;
    span {
        cursor: pointer;
    }
}
