@import '../../../../sass/_variables';


.input-password {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .see-password {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 45px;
        margin-left: 5px;
        box-sizing: border-box;
        border: 1px solid $light-2;
        border-radius: 5px;
        cursor: pointer;
    }
}

.btn {
    margin: 15px 0 25px 0;
}