<div mat-dialog-close class="close-container">
    <img src="assets/icons/cross.svg" alt="">
</div>

<div class="dialog-container">
    <h2 mat-dialog-title>Change password</h2>
    <p class="sub-title">Your password will be changed immediately.</p>
    <mat-dialog-content>
        <form (ngSubmit)="changePassword()" [formGroup]="form">
            <!-- Password -->
            <div class="input-password">
                <input [type]="inputType" formControlName="password" placeholder="New password">
                <div 
                (click)="toggleInputType()"
                class="see-password">
                    <div>See</div>
                </div>
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
                <div *ngIf="password.errors.required">
                    Password is required.
                </div>
                <div *ngIf="password.errors.minlength">
                    Password must be at least 6 characters long.
                </div>
            </div>

            <!-- Submit -->
            <button
            type="submit"
            class="btn btn-success-solid box-shadow"
            [class.btn-success-disabled]="form.invalid || submitted"
            [disabled]="form.invalid || submitted">
                <div *ngIf="!submitted">Change password</div>
                <div *ngIf="submitted" class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </button>
        </form>
    </mat-dialog-content>
</div>