@import '../../../sass/_variables';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    .worldhelpers-logo {
        width: 95px;
    }
    .navbar-classic {
        ul {
            display: flex;
            align-items: center;
            font-size: 0.9rem;
            font-weight: 300;
            li {
                margin-left: 20px;
            }
            li:last-child {
                margin-left: 10px;
            }
        }
    }
    .navbar-mobile, .icons-container {
        display: none;
    }
}

@media screen and (max-width: 920px) {
    header {
        .navbar-classic {
            display: none;
        }
        .icons-container {
            display: flex;
            justify-content: center;
            width: 50px;
            height: 50px;
            background-color: $primary;
            border-radius: 50%;
            cursor: pointer;
            .navlines {
                position: relative;
            }
            .navlines div {
                position: absolute;
                left: -13px;
                width: 24px;
                border: 1px solid #ffffff;
                border-radius: 9px;
            }
            .navlines.is-close {
                div:nth-child(1) {
                    transform: rotate(0);
                    top: 18px;
                    transition: all 0.3s ease-in;
                }
                div:nth-child(2) {
                    top: 25px;
                    border: 1px solid #ffffff;
                    transition: all 0.3s ease-in;
                }
                div:nth-child(3) {
                    transform: rotate(0);
                    top: 32px;
                    transition: all 0.3s ease-in;
                }
            }
            .navlines.is-open {
                div:nth-child(1) {
                    top: 25px;
                    transform: rotate(45deg);
                    transition: all 0.3s ease-in;
                }
                div:nth-child(2) {
                    top: 25px;
                    width: 0px;
                    border: 1px solid transparent;
                    transition: all 0.3s ease-in;
                }
                div:nth-child(3) {
                    top: 25px;
                    transform: rotate(-45deg);
                    transition: all 0.3s ease-in;
                }
            }
        }
    }
}