@import '../../../sass/_variables';


.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .profile-picture-container {
        width: 90px;
        height: 90px;
        margin-right: 20px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid $light-2;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    h3 {
        margin-bottom: 10px;
        font-family: $text;
        font-size: 1.8rem;
        font-weight: 400;
        color: #000000;
    }
    .actions {
        display: flex;
        justify-self: start;
        align-items: center;
        li {
            margin-right: 15px;
            border-bottom: 1px solid #000000;
            cursor: pointer;
        }
    }
}