<main>
    <div class="container">
        <div class="background-opacity">
            <section>
                <h1>Travel around the world for (almost) free</h1>
                <h2>Visit countries and live new experiences by exchanging your services for accomodation</h2>
                <div class="experience-search">
                    <div class="searchbar-container">
                        <h3>Where would you like to travel ?</h3>
                        <input 
                            class="searchbar-input" 
                            type="text">
                        <p>or <a routerLink="/experiences">see all experiences</a></p>
                    </div>
                </div>
            </section>
        
            <section>
                <h3>Fresh published experiences</h3>
                <div class="experience-cards">
                    <!-- Experience Card Component-->
                    <app-experience-card 
                        *ngFor="let experience of experiences"
                        [experience]="experience">
                    </app-experience-card>
                </div>
                <p class="see-all-experiences">or <a routerLink="/experiences">see all experiences</a></p>
            </section>
        
            <section>
                <h3>Searching for a specific travel experience ?</h3>
                <div class="property-type-cards">
                    <!-- Hostel & Hotel -->
                    <div class="property-type-card box-shadow">
                        <a routerLink="/experiences">
                            <figure>
                                <img src="assets/img/hostel-volunteer.jpg" alt="">
                            </figure>
                            <div class="experience-info">
                                <h4>Hostel & Hotel</h4>
                                <p>Housekeeping, reception, animation, building improvement, marketing and website</p>
                            </div>
                        </a>
                    </div>
                    <!-- Farm -->
                    <div class="property-type-card box-shadow">
                        <a routerLink="/experiences">
                            <figure>
                                <img src="assets/img/farm-volunteer.jpg" alt="">
                            </figure>
                            <div class="experience-info">
                                <h4>Farm</h4>
                                <p>Harvesting, feeding animals, milking, beekeeping, weeding, planting, maintenance</p>
                            </div>
                        </a>
                    </div>
                    <!-- Homestay-->
                    <div class="property-type-card box-shadow">
                        <a routerLink="/experiences">
                            <figure>
                                <img src="assets/img/homestay-volunteer.jpg" alt="">
                            </figure>
                            <div class="experience-info">
                                <h4>Homestay</h4>
                                <p>Children care, cleaning, cooking, gardening, language and skills exchange, home improvement</p>
                            </div>
                        </a>
                    </div>
                    <!-- School-->
                    <div class="property-type-card box-shadow">
                        <a routerLink="/experiences">
                            <figure>
                                <img src="assets/img/school-volunteer.jpg" alt="">
                            </figure>
                            <div class="experience-info">
                                <h4>School</h4>
                                <p>Language and cultural exchange, teaching, playing games, activities, chatting, supporting</p>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        
            <section>
                <h3>You're a host ? Find your volunteer !</h3>
                <div class="columns-text-and-cat-card">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at lorem lacus. Mauris rhoncus blandit rutrum. Fusce vitae consectetur tellus, vitae posuere erat. In vel ante ornare, tristique magna quis, gravida libero. Praesent volutpat maximus justo, vitae convallis elit tempor a. Sed facilisis facilisis iaculis. Ut molestie ultricies tempor. Aenean fringilla laoreet congue. Sed molestie nulla sit amet risus tincidunt vehicula. In vestibulum augue ut vulputate gravida. Fusce pulvinar eleifend leo vel porta. Suspendisse at dapibus tellus. Ut sed justo vel diam ullamcorper ullamcorper at et ligula.</p>
                    <!-- Call to action Card Component-->
                    <app-call-to-action-card
                        title="Register as a host"
                        img="become-a-host.jpg"
                        alt=""
                        href="become-a-host">
                    </app-call-to-action-card>
                </div>
            </section>
        
            <section>
                <h3>How does Worldhelpers work ?</h3>
                <div class="columns-text-and-cat-card">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at lorem lacus. Mauris rhoncus blandit rutrum. Fusce vitae consectetur tellus, vitae posuere erat. In vel ante ornare, tristique magna quis, gravida libero. Praesent volutpat maximus justo, vitae convallis elit tempor a. Sed facilisis facilisis iaculis. Ut molestie ultricies tempor. Aenean fringilla laoreet congue. Sed molestie nulla sit amet risus tincidunt vehicula. In vestibulum augue ut vulputate gravida. Fusce pulvinar eleifend leo vel porta. Suspendisse at dapibus tellus. Ut sed justo vel diam ullamcorper ullamcorper at et ligula.</p>
                    <!-- Call to action Card Component-->
                    <app-call-to-action-card
                        title="See the steps"
                        img="how-it-works-worldhelpers.jpg"
                        alt=""
                        href="how-it-works">
                    </app-call-to-action-card>
                </div>
            </section>
        </div>
    </div>
</main>