<main>
    <div class="background-image">
        <div class="background-opacity">
            <div class="container-without-page-title">
                <div class="wrapper">
                    <h1>Host one or more volunteers in exchange for their help</h1>
                    <div class="flexbox">
                        <div class="landing-arguments">
                            <div class="landing-text">
                                <h2>Many volunteers around the world are ready to help you for a few hours a day in exchange for accommodation.</h2>
                                <h3>Your needs may relate to a cultural or linguistic exchange, housework, gardening, childcare, webmarketing or meet other needs.</h3>
                            </div>
                            <ul class="landing-bullets">
                                <li class="landing-bullet">
                                    <img src="assets/icons/chrono.svg" alt="">
                                    <p>Create your ad in less than 10 minutes</p>
                                </li>
                                <li class="landing-bullet">
                                    <img src="assets/icons/loupe.svg" alt="">
                                    <p>Choose from different requests</p>
                                </li>
                                <li class="landing-bullet">
                                    <img src="assets/icons/paper-plane.svg" alt="">
                                    <p>Exchange by message with the volunteers</p>
                                </li>
                                <li class="landing-bullet">
                                    <img src="assets/icons/arrows.svg" alt="">
                                    <p>Track arrivals and departures from the dashboard</p>
                                </li>
                                <li class="landing-bullet">
                                    <img src="assets/icons/free.svg" alt="">
                                    <p>Sign up now, it's free !</p>
                                </li>
                            </ul>
                        </div>
                        <div class="landing-form">
                            <form (ngSubmit)="register()" [formGroup]="registerForm">
                                <!-- Firstname -->
                                <input type="text" formControlName="firstname" placeholder="Firstname">
                                <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert">
                                    <div *ngIf="firstname.errors.required">
                                        Firstname is required.
                                    </div>
                                    <div *ngIf="firstname.errors.minlength">
                                        Firstname must be at least 2 characters long.
                                    </div>
                                </div>
                                <!-- Lastname -->   
                                <input type="text" formControlName="lastname" placeholder="Lastname">
                                <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert">
                                    <div *ngIf="lastname.errors.required">
                                        Lastname is required.
                                    </div>
                                    <div *ngIf="lastname.errors.minlength">
                                        Lastname must be at least 2 characters long.
                                    </div>
                                </div>
                                <!-- Email -->
                                <input type="email" formControlName="email" placeholder="Email">
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                                    <div *ngIf="email.errors.required">
                                        Email is required.
                                    </div>
                                    <div *ngIf="email.errors.email">
                                        Email must be an email address.
                                    </div>
                                </div>
                                <!-- Password -->
                                <input type="password" formControlName="password" placeholder="Password">
                                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                                    <div *ngIf="password.errors.required">
                                        Password is required.
                                    </div>
                                    <div *ngIf="password.errors.minlength">
                                        Password must be at least 6 characters long.
                                    </div>
                                </div>
                                <!-- Checkbox -->
                                <div class="checkbox">
                                    <input type="checkbox" formControlName="consent" id="check">
                                    <label for="check">
                                        <div><span><!-- This span is needed to create the "checkbox" element --></span></div>
                                        <div class="consent">I acknowledge having read and accepted the <a routerLink="/privacy-policy">privacy policy</a>, <a routerLink="/conditions-of-use">GCU</a> and <a routerLink="/legal-notice">legal notices</a></div>
                                    </label>
                                </div>
                                <!-- Submit -->
                                <button
                                    type="submit"
                                    [disabled]="registerForm.invalid || submitted" 
                                    class="btn btn-success-solid">
                                    <div *ngIf="!submitted">Register as a host</div>
                                    <div *ngIf="submitted" class="spinner">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </div>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>