<main>
    <div class="background-image">
        <div class="background-opacity">
            <div class="container-without-page-title">
                <div class="wrapper">
                    <h1 class="landing-title">Host one or more volunteers in exchange for their help</h1>
                    <div class="flexbox">
                        <div class="landing-arguments">
                            <div class="landing-text">
                                <h2>Many volunteers around the world are ready to help you for a few hours a day in exchange for accommodation.</h2>
                                <h3>Your needs may relate to a cultural or linguistic exchange, housework, gardening, childcare, webmarketing or meet other needs.</h3>
                            </div>
                            <ul class="landing-bullets">
                                <li class="landing-bullet">
                                    <img src="assets/icons/chrono.svg" alt="">
                                    <p>Create your ad in less than 10 minutes</p>
                                </li>
                                <li class="landing-bullet">
                                    <img src="assets/icons/loupe.svg" alt="">
                                    <p>Choose from different requests</p>
                                </li>
                                <li class="landing-bullet">
                                    <img src="assets/icons/paper-plane.svg" alt="">
                                    <p>Exchange by message with the volunteers</p>
                                </li>
                                <li class="landing-bullet">
                                    <img src="assets/icons/arrows.svg" alt="">
                                    <p>Track arrivals and departures from the dashboard</p>
                                </li>
                                <li class="landing-bullet">
                                    <img src="assets/icons/free.svg" alt="">
                                    <p>Sign up now, it's free !</p>
                                </li>
                            </ul>
                        </div>
                        <div class="landing-form">
                            <app-register-form [type]="'host'" [checkboxClass]="'becomeHostCheckbox'"></app-register-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>