<main>
    <div class="page-title">
        <h1 class="wrapper">Volunteer experiences</h1>
    </div>
    <div class="container-with-page-title">
        <div class="wrapper">

            <div class="experiences-search">
                <h2>Where would you like to travel ?</h2>

                <input class="searchbar" type="text">

                <ul class="filters">
                    <li class="filter">Hostel</li>
                    <li class="filter">Homestay</li>
                    <li class="filter">Farm</li>
                    <li class="filter">School</li>
                </ul>
                <div class="reset">Reset search</div>
            </div>

            <div class="experiences-results">
                <h3>XX experiences available</h3>
                <div class="">

                </div>
            </div>

        </div>
    </div>
</main>