<main>
    <div class="page-title">
        <h1 class="wrapper">Volunteer experiences</h1>
    </div>
    <div class="container-with-page-title">
        <div class="wrapper">

            <div class="experiences-search">
                <h2>Where would you like to travel ?</h2>

                <div (clickOutside)="closeList()">
                    <input 
                    (keyup)="searchCountry($event)" 
                    (click)="searchActive=true" 
                    [value]="searchValue" 
                    class="search-bar" 
                    type="text">
                    <ul 
                    *ngIf="searchValue && countriesFiltered.length && searchActive" 
                    class="search-list">
                        <li 
                        *ngFor="let country of countriesFiltered"
                        (click)="applyCountry(country)"
                        class="country">{{ country }}
                        </li>
                    </ul>
                </div>

                <ul class="categories">
                    <li 
                    (click)="applyCategory('Hostel')" 
                    [class.active]="selectedCategories.includes('Hostel')" 
                    class="category"
                    >Hostel</li>
                    <li 
                    (click)="applyCategory('Homestay')" 
                    [class.active]="selectedCategories.includes('Homestay')" 
                    class="category">Homestay</li>
                    <li 
                    (click)="applyCategory('Farm')" 
                    [class.active]="selectedCategories.includes('Farm')" 
                    class="category">Farm</li>
                    <li 
                    (click)="applyCategory('School')" 
                    [class.active]="selectedCategories.includes('School')" 
                    class="category">School</li>
                </ul>
                <div class="reset">Reset search</div>
            </div>

            <div class="experiences-results">
                <h3>XX experiences available</h3>
                <div class="">

                </div>
            </div>

        </div>
    </div>
</main>