<main>
    <div class="page-title">
        <h1 class="wrapper">Edit my profile</h1>
    </div>
    <div class="breadcrumb">
        <div class="wrapper"><a routerLink="/account">Dashboard</a><span>></span>Edit my profile</div>
    </div>
    <div class="container-with-page-title">
        <div class="wrapper">

            <div class="user-edit-profile-form-container">
                <app-user-edit-profile-form></app-user-edit-profile-form>
            </div>
              
        </div>
    </div>
</main>