@import '../../../../../sass/_variables';


.buttons {
    text-align: right;
}

form {
    .form-field {
        margin-bottom: 40px;
        .label-title {
            margin-bottom: 25px;
            font-family: $title;
            font-size: 1.65rem;
            color: #000000;
        }
        .label-subtitle {
            margin-bottom: 20px;
            font-family: $text;
            font-size: 1.05rem;
            font-weight: 500;
            color: #000000;
        }
        .label-subtitle:not(:first-child) {
            margin-top: 20px;
        }
        .instruction {
            width: 70%;
            margin-top: -10px;
            margin-bottom: 20px;
            font-size: 1rem;
            line-height: 1.4rem;
            color: $dark-1;
        }
        .optional-chip {
            margin-left: 7px;
            padding: 3px 8px;
            font-size: 0.8rem;
            font-weight: 400;
            background-color: $neutral;
            color: #ffffff;
            border-radius: 3px;
        }
        .error  {
            margin-top: -10px;
            margin-bottom: 15px;
            color: $warn;
            font-size: 0.95rem;
            font-weight: 400;
        }
        input[type="text"], select {
            width: 450px;
        }
        input[type="text"] {
            border: 1px solid $light-2;
        }
        .add-property {
            margin-top: 15px;
            font-size: 0.95rem;
            font-weight: 400;
            span {
                cursor: pointer;
            }
        }
        .container-radio {
            .input-fc-square {
                margin-right: 10px;
            }
        }
        .container-publication-checkbox {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .input-full-color label { // OVERIDE (class already exist in another css file)
                width: 220px;
                margin-right: 15px;
                padding: 15px 25px;
            }
        }
        .description, .prerequisites {
            width: 70%;
            min-width: 600px;
        }
        .description {
            height: 250px;
        }
        .prerequisites {
            height: 150px;
        }
    }
}