<form *ngIf="form" [formGroup]="form" (ngSubmit)="saveExperience()">
    <mat-horizontal-stepper labelPosition="bottom" linar>
        <!-- STEP 1 -->
        <mat-step>
            <ng-template matStepLabel>Title, place and duration</ng-template>
            <div>
                <!-- Experience title -->
                <div class="form-field">

                    <h4 class="label-title" for="title">Experience title</h4>

                    <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error">
                        <div *ngIf="title.errors.required">
                            Title is required.
                        </div>
                        <div *ngIf="title.errors.minlength">
                            Title must be at least 10 characters long.
                        </div>
                        <div *ngIf="title.errors.maxlength">
                            Title must be at most 80 characters long.
                        </div>
                    </div>

                    <input 
                    type="text" 
                    formControlName="title" 
                    id="title"
                    placeholder="Ex: Discover the heart of the Scottish Highlands">

                </div>

                <!-- Experience location -->
                <div class="form-field">
                    <h4 class="label-title" for="location">Experience location</h4>
                    <select formControlName="location" id="location">
                        <option value=""></option><!-- TO DO -->
                    </select>
                    <div class="add-property">No property ? <span (click)="addProperty()">Add a property</span></div>
                </div>

                <!-- Experience duration -->
                <div class="form-field">

                    <h4 class="label-title" for="duration">Experience duration</h4>
                    <div *ngIf="errorNumberOfWeeks" class="error">
                        Minimum weeks can't be superior to maximum weeks.
                    </div>
                    
                    <!-- Minimum -->
                    <h5 class="label-subtitle">Minimum number of weeks</h5>

                    <div class="container-duration-radio">
                        <div 
                        class="input-fc-square"
                        *ngFor="let number of numberOfWeeks"
                        (click)="isWeeksValid('min', number)">
                            <input 
                            type="radio" 
                            id="minWeeks-{{number}}" 
                            value="{{number}}" 
                            formControlName="minWeeks">
                            <label for="minWeeks-{{number}}">{{number}}</label>
                        </div>
                    </div>

                    <!-- Maximum -->
                    <h5 class="label-subtitle">Maximum number of weeks</h5>

                    <div class="container-duration-radio">
                        <div 
                        class="input-fc-square"
                        *ngFor="let number of numberOfWeeks"
                        (click)="isWeeksValid('max', number)">
                            <input 
                            type="radio" 
                            id="maxWeeks-{{number}}" 
                            value="{{number}}" 
                            formControlName="maxWeeks">
                            <label for="maxWeeks-{{number}}">{{number}}</label>
                        </div>
                    </div>

                </div>

                <!-- Publication -->
                <div class="form-field">
                    <h4 class="label-title" for="publication">Publication</h4>
                    <div *ngIf="form.invalid" class="error">
                        You must complete all fields to be able to publish now.
                    </div>
                    <div class="container-publication-checkbox">
                        <!-- Later -->
                        <div class="input-full-color">
                            <input 
                            type="radio" 
                            class="checkbox-large"
                            id="later" 
                            value="0" 
                            formControlName="publication">
                            <label for="later">Later</label>
                        </div>
                        <!-- Now (fake) -->
                        <div 
                        *ngIf="form.invalid"
                        class="input-full-color">
                            <input 
                            type="radio" 
                            class="checkbox-large"
                            id="null" 
                            value="null" 
                            formControlName="publication"
                            [attr.disabled]="true">
                            <label 
                            for="null">Now</label>
                        </div>
                        <!-- Now (real) -->
                        <div 
                        *ngIf="!form.invalid"
                        class="input-full-color">
                            <input 
                            type="radio" 
                            class="checkbox-large"
                            id="now" 
                            value="1" 
                            formControlName="publication">
                            <label 
                            for="now">Now</label>
                        </div>
                    </div>
                </div>

                <div class="buttons">
                    <button class="btn btn-success-solid" matStepperNext type="button">Next</button>
                </div>

            </div>
        </mat-step>

        <!-- STEP 2 -->
        <mat-step>
            <ng-template matStepLabel>What you ask</ng-template>
            <div>

                <div class="buttons">
                    <button class="btn btn-transparent-outline" matStepperPrevious type="button">Previous</button>
                    <button class="btn btn-success-solid" matStepperNext type="button">Next</button>
                </div>
            </div>
        </mat-step>

        <!-- STEP 3 -->
        <mat-step>
            <ng-template matStepLabel>What you offer</ng-template>
            <div>

                <div class="buttons">
                    <button class="btn btn-transparent-outline" matStepperPrevious type="button">Previous</button>
                    <button class="btn btn-success-solid" matStepperNext type="button">Next</button>
                </div>
            </div>
        </mat-step>

        <!-- STEP 4 -->
        <mat-step>
            <ng-template matStepLabel>Photos and publication</ng-template>
            <div>

                <div class="buttons">
                    <button class="btn btn-transparent-outline" matStepperPrevious type="button">Previous</button>
                    <!-- Submit -->
                    <button
                    type="submit"
                    class="btn btn-success-solid"
                    [class.btn-success-disabled]="submitted"
                    [disabled]="submitted">
                        <div *ngIf="!submitted">Save</div>
                        <div *ngIf="submitted" class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </button>
                </div>
            </div>
        </mat-step>

    </mat-horizontal-stepper>
</form>