<main>
    <div class="page-title">
        <h1 class="wrapper">Dashboard</h1>
    </div>
    <div class="container-with-page-title">
        <div class="wrapper">

            <div class="user-welcome-panel-container">
                <app-user-welcome-panel></app-user-welcome-panel>
            </div>

            <h2>Search an experience</h2>
            <app-search-bar></app-search-bar>

            <h2>My applications</h2>

            <h2>My favourites</h2>
            
        </div>
    </div>
</main>