/*
//
// MAIN IMPORTS
//
*/

@import 'normalize.css';
@import 'sass/_variables';
@import 'sass/_layout';
@import 'sass/_main';
@import 'sass/_typography';
@import 'sass/_buttons';
@import 'sass/_form';
@import 'sass/_dialog';


/*
//
// DATE PICKER
//
*/

@import '~saturn-datepicker/bundle.css';


/*
//
// ANGULAR MATERIAL THEME
//
*/

@import 'sass/_material_custom_theme';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($woh-theme);
@include angular-material-typography($custom-typography);


/*
//
// ANGULAR MATERIAL COMPONENTS
//
*/

.mat-tab-label, .mat-tab-link {
    font-family: $title;
    font-size: 1.1rem;
}

.mat-tab-label.mat-tab-label-active {
    opacity: 1;
}

.mat-progress-bar-fill::after {
    color: $alert;
    background-color: $alert;
}

.mat-progress-bar-buffer {
    background-color: #fde4b4; // $alert lighter color
}

.mat-calendar-body-selected, .mat-calendar-body-selected:hover, .mat-calendar-cell-over > .mat-calendar-body-cell-content {
    background-color: $success;
}

.mat-calendar-cell-over > .mat-calendar-body-cell-content {
    border-color: $success;
}

.mat-calendar-cell-semi-selected, .mat-calendar-body-begin-range:not(.mat-calendar-body-end-range), .mat-calendar-body-end-range:not(.mat-calendar-body-begin-range) {
    background-color: #a3e5d4; // $success lighter color
}

.mat-stepper-horizontal {
    padding: 20px;
    border-radius: 10px;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
    margin-bottom: 40px;
}

.mat-step-icon {
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 400;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    padding: 16px 24px !important; // 24 - 8 = 16
}

.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover {
    background-color: transparent;
}