@import '../../../../sass/_variables';


.dialog-container {
    padding: 0 15px 15px 15px;
}

.user-profile-informations {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .profile-picture {
        width: 90px;
        height: 90px;
        margin-right: 20px;
        overflow: hidden;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    h2, h3 {
        margin: 0;
        padding: 0;
        color: #000000;
    }
    h2 {
        margin-bottom: 5px;
        font-family: $title;
        font-size: 1.8rem;
        font-weight: 500;
    }
    h3 {
        font-family: $text;
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.user-profile-description {
    padding: 0;
}