<footer>
    <div class="container">
        <div>
            <h6>Worldhelpers</h6>
            <ul>
                <li><a routerLink="/how-it-works">How it works</a></li>
                <li><a routerLink="/become-a-host">Become a host</a></li>
                <li><a routerLink="/become-a-helper">Become a helper</a></li>
                <li><a routerLink="/sitemap">Sitemap</a></li>
            </ul>
        </div>
        <div>
            <h6>Experiences</h6>
            <ul>
                <li><a routerLink="/experiences">Hostel & Hotel</a></li>
                <li><a routerLink="/experiences">Farm</a></li>
                <li><a routerLink="/experiences">School</a></li>
                <li><a routerLink="/experiences">Homestay</a></li>
            </ul>
        </div> 
        <div>
            <h6>Legal, Terms & Conditions</h6>
            <ul>
                <li><a routerLink="/legal-notice">Legal Notice</a></li>
                <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                <li><a routerLink="/conditions-of-use">General Conditions of Use</a></li>
                <li><a routerLink="/conditions-of-sale">General Terms & Conditions of Sale</a></li>
            </ul>
        </div>
        <div>
            <p>Made with <i class="fas fa-heart"></i> from many countries</p>
            <p>&#169; 2019 Worldhelpers</p>
        </div>
    </div>
</footer>