@import '../../../../sass/_variables';


.beware {
    margin: 25px 25px 25px 50px;
    text-align: left;
    li {
        margin: 7px 0;
        list-style-type: initial;
        line-height: 1.4rem;
    }
}

.confirm-action {
    color: $warn;
}

.btn {
    margin: 15px 0 25px 0;
}