<main>
    <div class="page-title">
        <h1 class="wrapper">{{ experience.title }}</h1>
    </div>
    <div class="container-with-page-title">
        <div class="wrapper">

            <div class="experience-type-and-location-and-fav">
                <div class="experience-type-and-location">
                    <div class="experience-property-type">
                        {{ experience.property.type }}
                    </div>
                    <div class="experience-location">
                        {{ experience.property.city }}, {{ experience.property.country }}
                    </div>
                </div>
                <div class="experience-favorite">
                    <figure>
                        <img src="assets/icons/heart-outline.svg" alt="">
                    </figure>
                </div>
            </div>

            <div 
            class="experience-cover" 
            [style.background]="getBackgroundImageUrl()">
                <div 
                (click)="openGallery()"
                class="btn btn-primary-light">See all pictures
                </div>
            </div>

            <div class="experience-container">
                <div class="experience-content">

                    <section>
                        <h2>Experience description</h2>
                        <div class="experience-chips">
                            <!-- Duration -->
                            <div class="experience-chip">
                                <img src="assets/icons/calendar.svg" alt="">
                                <div>
                                    {{ experience.min_weeks }}-{{ experience.max_weeks }} weeks stay
                                </div>
                            </div>
                            <!-- Volunteering hours -->
                            <div class="experience-chip">
                                <img src="assets/icons/clock.svg" alt="">
                                <div>
                                    {{experience.volunteer_hours}} {experience.volunteer_hours, plural, =1 {hour} other {hours}} volunteer a day 
                                </div>
                            </div>
                            <!-- Day off -->
                            <div class="experience-chip">
                                <img src="assets/icons/sunset.svg" alt="">
                                <div>
                                    {{ experience.days_off }} {experience.days_off, plural, =1 {day} other {days}} off per week 
                                </div>
                            </div>
                            <!-- Room -->
                            <div class="experience-chip">
                                <img src="assets/icons/key.svg" alt="">
                                <div>
                                    {{ experience.accomodation_type }} 
                                </div>
                            </div>
                            <!-- How many helpers -->
                            <div class="experience-chip">
                                <img src="assets/icons/users.svg" alt="">
                                <div>
                                    Up to {{ experience.number_volunteers }} {experience.number_volunteers, plural, =1 {helper} other {helpers}}
                                </div>
                            </div>
                            <!-- Breakfast -->
                            <div 
                            class="experience-chip"
                            *ngIf="experience.has_breakfast">
                                <img src="assets/icons/cutlery.svg" alt="">
                                <div>
                                    Breakfast included
                                </div>
                            </div>
                            <!-- Lunch -->
                            <div 
                            class="experience-chip"
                            *ngIf="experience.has_lunch">
                                <img src="assets/icons/cutlery.svg" alt="">
                                <div>
                                    Lunch included
                                </div>
                            </div>
                            <!-- Diner -->
                            <div 
                            class="experience-chip"
                            *ngIf="experience.has_diner">
                                <img src="assets/icons/cutlery.svg" alt="">
                                <div>
                                    Diner included
                                </div>
                            </div>
                            <!-- Food allowance -->
                            <div 
                            class="experience-chip" 
                            *ngIf="experience.has_food_allowance">
                                <img src="assets/icons/food-allowance.svg" alt="">
                                <div>
                                    Food allowance 
                                </div>
                            </div>
                            <!-- Free activities -->
                            <div 
                            class="experience-chip"
                            *ngIf="experience.has_free_activities">
                                <img src="assets/icons/hot-air-balloon.svg" alt="">
                                <div>
                                    Free activities
                                </div>
                            </div>
                        </div>
                        <p>{{ experience.description }}</p>
                    </section>
                    
                    <section>
                        <h2>Requirements</h2>
                        <p *ngIf="experience.requirements; else noRequirement">{{ experience.requirements }}</p>
                        <ng-template #noRequirement>No requirement needed.</ng-template>
                    </section>

                    <section>
                        <h2>Host informations</h2>
                        <div class="experience-host">
                            <!-- Host profile -->
                            <div class="host-profile-container">
                                <div class="host-profile">
                                    <div 
                                    class="host-profile-picture"
                                    [style.background]="getHostPictureUrl()">
                                    </div>
                                    <div>
                                        <div class="host-firstname">{{ experience.host.firstname }}</div>
                                        <span 
                                            *ngIf="experience.host.recently_online"
                                            class="online">&#8226; Recently online
                                        </span>
                                        <div class="host-stat">
                                            <div 
                                            *ngIf="experience.host.response_time < 13" 
                                            class="host-response-time">Replies in {{ experience.host.response_time }} hours
                                            </div>
                                            <div 
                                            *ngIf="experience.host.response_time > 12 && experience.host.response_time < 25" 
                                            class="host-response-time">Replies in less than a day
                                            </div>
                                            <div 
                                            *ngIf="experience.host.response_time > 24" 
                                            class="host-response-time">Replies in more than a day
                                            </div>
                                            <div class="host-response-rate">{{ experience.host.response_rate | percent }} response rate</div>
                                        </div>
                                    </div>
                                </div>
                                <p class="host-description">{{ experience.host.description }}</p>
                            </div>
                            <!-- Modal signin and signup -->
                            <div class="registration">
                                <div class="registration-title">
                                    <img src="assets/icons/warning.svg" alt="">
                                    <p>Want to know more ?</p>
                                </div>
                                <p class="registration-text">You need to become a premium member in order to access contact details.</p>
                                <div class="registration-buttons">
                                    <a class="btn btn-transparent" routerLink="/">Login</a>
                                    <a class="btn btn-transparent" routerLink="/">Signup</a>
                                </div>
                            </div>

                        </div>
                    </section>

                    <section class="section-reviews">
                        <div class="background-opacity">
                            <h2>Reviews</h2>
                            <div class="experience-reviews">

                                <div class="reviews-preview">
                                    <img src="assets/icons/star.svg" alt="">
                                    <div *ngIf="experience.average_ratings != null; else noRatings">
                                        {{ experience.average_ratings }}<span class="separator">|</span>{{ experience.number_comments }} {experience.number_comments, plural, =0 {comment} =1 {comment} other {comments}}
                                    </div>
                                    <ng-template #noRatings>No rating</ng-template>
                                </div>

                                <div class="ratings" *ngIf="experience.average_ratings != null">
                                    <!-- Rating Host -->
                                    <div class="rating">
                                        <div class="rating-title">Host</div>
                                        <mat-progress-bar
                                        class="example-margin"
                                        [color]="primary"
                                        [mode]="determinate"
                                        [value]="experience.reviews.ratings.host*20"
                                        [bufferValue]="100">
                                        </mat-progress-bar>
                                        <div class="rating-value">{{ experience.reviews.ratings.host }}</div>
                                    </div>
                                    <!-- Rating Assigments -->
                                    <div class="rating">
                                        <div class="rating-title">Assigments</div>
                                        <mat-progress-bar
                                        class="example-margin"
                                        [color]="primary"
                                        [mode]="determinate"
                                        [value]="experience.reviews.ratings.assigments*20"
                                        [bufferValue]="100">
                                        </mat-progress-bar>
                                        <div class="rating-value">{{ experience.reviews.ratings.assigments }}</div>
                                    </div>
                                    <!-- Rating Atmosphere -->
                                    <div class="rating">
                                        <div class="rating-title">Atmosphere</div>
                                        <mat-progress-bar
                                        class="example-margin"
                                        [color]="primary"
                                        [mode]="determinate"
                                        [value]="experience.reviews.ratings.atmosphere*20"
                                        [bufferValue]="100">
                                        </mat-progress-bar>
                                        <div class="rating-value">{{ experience.reviews.ratings.atmosphere }}</div>
                                    </div>
                                    <!-- Rating Accomodation -->
                                    <div class="rating">
                                        <div class="rating-title">Accomodation</div>
                                        <mat-progress-bar
                                        class="example-margin"
                                        [color]="primary"
                                        [mode]="determinate"
                                        [value]="experience.reviews.ratings.accomodation*20"
                                        [bufferValue]="100">
                                        </mat-progress-bar>
                                        <div class="rating-value">{{ experience.reviews.ratings.accomodation }}</div>
                                    </div>
                                </div>

                                <div class="comments" *ngIf="experience.average_ratings != null">
                                    <div *ngFor="let comment of experience.reviews.comments" class="comment">
                                        <div class="review-user">
                                            <div 
                                            class="review-user-profile-picture"
                                            [style.background]="getReviewUserProfilePictureUrl(comment.user_profile_picture_url)">
                                            </div>
                                            <div>
                                                <div class="review-user-firstname">{{ comment.user_firstname }}</div>
                                                <div class="review-date">
                                                    {{ comment.date }}
                                                </div>
                                            </div>
                                        </div>
                                        <p class="review-comment">{{ comment.content }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="experience-report">
                            <a [routerLink]=""><p><img src="assets/icons/alarm.svg" alt="report this travel experience">Report this experience</p></a>
                        </div>
                    </section>
                </div>

                <div class="experience-apply">

                </div>

            </div>

            <ngx-image-gallery 
            [images]="images" 
            [conf]="conf"
            ></ngx-image-gallery>

        </div>
    </div>
</main>