@import '../../../sass/_variables';

section {
    margin-bottom: 40px;
    h2{
        margin-bottom: 30px;
        font-size: 1.6rem;
        font-weight: 400;
    }
    p {
        line-height: 1.5rem;
    }
}

.experience-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .experience-apply {
        flex-grow: 0;     /* do not grow   - initial value: 0 */
        flex-shrink: 0;   /* do not shrink - initial value: 1 */
        flex-basis: 420px; /* width or height  - initial value: auto */
        margin-left: 100px;
    }
}

.experience-type-and-location-and-fav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .experience-type-and-location {
        display: flex;
        align-items: center;
        .experience-property-type {
            padding: 8px 14px;
            font-size: 0.9rem;
            line-height: 0.9rem;
            color: #ffffff;
            background-color: $primary;
            border-radius: 3px;
        }
        .experience-location {
            margin-left: 15px;
            color: $primary;
            font-size: 1.4rem;
            font-weight: 300;
        }
    }
    .experience-favorite {
        img {
            width: 27px;
        }
    }
}

// BUG FIX pour conserver les dimensions des images lors du clic pour ouvrir la gallerie
.experience-cover, .host-profile-picture, .review-user-profile-picture {
    background-color: $light-1;
    background-size: cover !important;
    background-position: center !important;
}

.experience-cover {
    position: relative;
    height: 350px;
    margin: 30px 0;
    border-radius: 10px;
    .btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

.experience-chips {
    display: grid;
    grid-auto-rows: 30px;
    grid-template-columns: repeat(3, 235px);
    margin-bottom: 20px;
    .experience-chip {
        display: flex;
        align-items: center;
        img {
            width: 23px;
        }
        div {
            margin-left: 7px;
            font-size: 1rem;
        }
    }
}

.experience-host {
    .host-profile-container {
        .host-profile {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .host-profile-picture {
                width: 90px;
                height: 90px;
                margin-right: 20px;
                border-radius: 50%;
            }
            .host-firstname {
                display: inline-block;
                margin-right: 10px;
                font-size: 1.1rem;
                font-weight: 500;
            }
            .online {
                color: $success;
                font-weight: 400;
            }
            .host-stat{
                margin-top: 5px;
                font-size: 0.9rem;
                line-height: 1.3rem;
            }
        }
        .host-description {
            margin-top: 20px;
        }
    }
    .registration {
        display: inline-block;
        margin-top: 30px;
        padding: 20px 25px;
        background-color: $light-1;
        border-radius: 10px;
        .registration-title {
            font-weight: 500;
        }
        .registration-text {
            margin: 5px 0 10px 0;
        }
        .registration-buttons {
            a:first-child {
                margin-right: 10px;
            }
            a {
                padding: 7px 15px;
            }
        }
    }
}

.background-reviews {
    background-image: url('../../../assets/icons/stars.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: top right;
}

.experience-reviews {
    .reviews-preview {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        img {
            width: 25px;
            margin-right: 10px;
        }
        .separator {
            margin: 0 7px;
        }
    }
    .ratings {
        margin-top: 20px;
        .rating {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 10px;
            .rating-title {
                width: 140px;
                font-weight: 400;
            }
            mat-progress-bar {
                display: inline-block;
                width: 200px;
                margin-right: 20px;
            }
        }
    }
    .comments {
        margin-top: 40px;
        .comment {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 60px;
            }
            .review-user {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .review-user-profile-picture {
                    width: 60px;
                    height: 60px;
                    margin-right: 20px;
                    border-radius: 50%;
                }
                .review-user-firstname {
                    font-weight: 400;
                }
                .review-date {
                    margin-top: 5px;
                    font-size: 0.9rem;
                    color: $dark-1;
                }
            }
            .review-comment {
                margin-top: 15px;
            }
        }
    }
}

.experience-report {
    padding-top: 30px;
    border-top: 1px solid #000000;
    p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    img {
        width: 20px;
        margin-right: 10px;
    }
}

.experience-apply {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 60px;
    .apply-alert {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 20px;
        padding: 20px 25px;
        background-color: $light-1;
        border-radius: 10px;
        line-height: 1.3rem;
        img {
            width: 20px;
            margin-right: 10px;
            padding-top: 4px;
        }
        a {
            border-bottom: 1px solid #000000;
        }
    }
    form {
        position: relative;
        border-radius: 10px;
        padding: 30px 30px 60px 30px;
        box-sizing: border-box;
        label {
            display: block;
            margin-bottom: 10px;
            font-weight: 400;
        }
        .date-container {
            margin-bottom: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .date {
                width: 100%;
                padding: 12px;
                border-radius: 5px;
                border: 1px solid $light-2;
            }
            .mat-datepicker-toggle {
                margin-left: 10px;
                color: $success;
                border-radius: 50%;
                border: 1px solid $success;
            }
        }
        textarea {
            width: 100%;
            height: 160px;
            border: 1px solid $light-2;
            padding: 12px;
            box-sizing: border-box;
            border-radius: 5px;
            resize: none;
        }
        button {
            position: absolute;
            bottom: -25px;
            height: 50px;
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.1rem;
        }
    }
}

@media screen and (max-width: 1435px) {
    .experience-chips {
        grid-template-columns: repeat(2, 250px);
    }
}

@media screen and (max-width: 1140px) {
    .experience-chips {
        grid-template-columns: repeat(2, 250px);
    }
}